// colors
@link-color: #0069b3;
@link-color-hover: lighten(#0069b3, 12%);
@charcoal-grey: #2b2e35;

@button-success: #369927;
@button-success-hover: lighten(@button-success, 4%);


// fonts
@font-opensansregular: 'OpenSans', sans-serif;
@font-opensansbold: 'OpenSansBold', sans-serif;
