@import '_func.less';
@import '_vars.less';
@import '_fonts.less';

// классы от .font-size-1 до .font-size-30
// дают размеры шрифта от 0.1em до 3em
.generate-font-size(@levels-font-size-count, @q: 1) when (@q =< @levels-font-size-count) {
    .@{prop-font-name}-@{q} {
        font-size: (0px + @q);
    }
    .generate-font-size(@levels-font-size-count, (@q + 1));
}
.generate-font-size(@levels-font-size-count);

// Prevent highlight on mobile
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: 0;
    }
}

/* плавное изменение прозрачности  placeholder-а при фокусе */
.focus-fade {
	&::placeholder {
		color:#fff;
		opacity: 1;
		transition: opacity .3s ease;
	}

	&:focus::placeholder {
		color: #000;
		opacity: 0;
		transition: opacity .3s ease;
	}
}

/* сдвиг placeholder-а вправо при фокусе*/
.focus-right {
	&::placeholder {
		color:#fff;
		text-indent: 0px;
		transition: text-indent .8s ease-in-out;
	}

	&:focus::placeholder {
		color: #000;
		text-indent: 100vw;
		transition: text-indent 1.6s linear;
	}
}

/* сдвиг placeholder-а вниз при фокусе*/
.focus-bottom {
	&::placeholder {
		color:#fff;
		line-height: normal;
		transition: line-height 0.5s ease;
	}

	&:focus::placeholder {
		color: #000;
		line-height: 10;
		transition: line-height 0.5s ease;
	}
}

.overflow {
    &-y {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    &-x {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}


* {
    margin: 0;
    padding: 0;
}

html {
	height: 100%;
	min-height: 100%;
	// font-size: 14px;
}

body {
	height: 100%;
    font-family: @font-opensansregular;
}

a {
	transition: all .3s;
    &:visited,
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
    }
}

.default-color {
	color: @charcoal-grey;
}

a,
.link-color {
	color: @link-color;
	&:hover {
		color: @link-color-hover;
	}
}

.link-color-extra {
	color: @link-color-extra;
	&:hover {
		color: @link-color-extra-hover;
	}
}

.text-italic {
	font-family: @font-opensansitalic;
}

.text-size-16 {
	font-size: 16px !important;
}

.text-size-18 {
	font-size: 18px !important;
}

.text-muted {
	color: @muted-color !important;
}

.c-pointer {
	cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.modal {
	&.show {
		.modal-dialog {
			color: @charcoal-grey;
			max-width: 660px;
			margin: auto;
			max-height: 100%;
			text-align: center;
			top: 50%;
			transform: translateY(-50%);
		}

		.modal-header {
			border: 0;
			display: block;
			.modal-title {
				font-size: 32px;
				line-height: normal;
			}

			.close {
				position: absolute;
				right: 16px;
				top: 16px;
			}
		}

		.modal-body {
			font-size: 18px;
		}

		.modal-footer {
			border: 0;
			justify-content: center;
			padding-bottom: 50px;
		}

		.table {
			text-align: left;
			tr:first-child {
				td {
					border-top: 0;
				}
			}

			td {
				vertical-align: middle;
				&:first-child {
					color: #8a90a1;
					font-size: 12px;
					line-height: normal;
					padding-left: 0;
					// padding-top: 17px;
					text-transform: uppercase;
				}
				&:not(:first-child) {
					color: @charcoal-grey;
					font-size: 14px;
				}
			}
		}
	}

	&.modal-cert-detail {
		@media screen and (max-width: 992px) {
			.modal-content {
				min-width: 100%;

				.table {
					min-width: 960px;
				}
			}
		}
	}
}

.progress {
	background: @link-color;
	border-radius: 0;
	height: 20px;
	transform: skew(-20deg);
	.progress-bar {
		background: @button-success;
	}
}

// Уберем синюю дефолтную рамку вокруг контролов
// и подчеркивание у активных ссылок,
a,
button,
.control-button,
.menu-button,
.btn {
    outline: none;
    &:hover,
    &:active,
    &:focus,
    &:active:focus {
    	box-shadow: none;
        outline: none;
        text-decoration: none;
    }
}

.btn {
	border-radius: 5px;
	font-family: 'OpenSansSemiBold';
	font-size: 14px;
	padding: 13px 12px;
	width: 240px;
	// height: 50px;

	&.font-weight-normal {
		font-family: 'OpenSans';
	}

	&.button-sm {
		width: 120px;
	}

	&.button-md {
		width: 170px;
	}

	&.button-success {
		border: 1px solid @button-success;
	}

	&.button-fill {
		color: #fff;
		&.button-success {
			background: @button-success;
			&:hover {
				background: @button-success-hover;
			}
		}
	}

	&.button-outline {
		background: #fff;
		color: #000;
		&.button-success {
			&:hover {
				border: 1px solid @button-success-hover;
			}
		}
	}

	&[disabled]:not(.btn-link) {
		background: #bcc8d0 !important;
		border-color: #bcc8d0 !important;
		&:hover {
			background: #bcc8d0 !important;
			border-color: #bcc8d0 !important;
		}
	}
}

// а также у инпутов
input,
input[type=file],
input[type=checkbox],
input[type=radio] {
	&:focus {
		outline: none;
	}
}

ul, ol {
    list-style-type: none;
    margin: 0;
}

form {
	text-align: left;
	&.row-align-center {

	}
}

.form-control {
	border: solid 1px #adbdd0;
	border-radius: 2px;
	// width: 380px;
	height: auto;
	padding: 13px 10px;
	&:focus {
		border-color: #adbdd0;
		box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
	}

	&.find-cert {
		width: 200px;
	}
}

.form-group {
	label,
	.form-control {
		color: @charcoal-grey;
		font-size: 14px;
	}

	&.row {
		.row-align-center & {
			align-items: center;
		}
	}

	&.not-valid {
		.form-control {
			border: 1px solid rgba(255, 0, 0, 0.25);
			box-shadow: inset 0 0px 4px 0px rgba(255, 0, 0, 0.25);
		}
	}

	&.form-group-icon {
		position: relative;
		&:after {
			background-image: url('../img/icon-search.svg');
			background-repeat: no-repeat;
			background-size: cover;
			content: '';
			width: 15px;
			height: 16px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.form-check {
	label {
		color: #0069b3;
		font-size: 14px;
	}
}

.custom-radio {
	.custom-control-input {
		~ .custom-control-label {
			&:before {
				background: transparent;
				border: 1px solid @button-success;
				width: 20px;
				height: 20px;
				top: 2px;
			}

			&:after {
				border-radius: 50%;
				width: 10px;
				height: 10px;
				top: 7px;
				transform: translateX(50%);
			}
		}

		&:checked {
			~ .custom-control-label {
				&:before {
					background: transparent;
				}

				&:after {
					background-image: none;
					background-color: @button-success;
				}
			}
		}
	}
}

.custom-checkbox {
	.custom-control-input {
		~ .custom-control-label {
			&:before {
				background: transparent;
				border: 1px solid #adbdd0;
				border-radius: 5px;
				width: 16px;
				height: 16px;
				top: 2px;
			}

			&:after {
				top: 2px;
			}
		}

		&:checked {
			~ .custom-control-label {
				&:before {
					background: @button-success;
				}

				&:after {

				}
			}
		}
	}
}

.selectized {

}

// [class*="selectize-"],
.selectize-control {
	border: 0;
	text-align: left;
	.selectize-input {
		border: solid 1px #adbdd0;
		border-radius: 2px;
		box-shadow: none;
		font-size: 14px;
		padding: 15px;
	}

	&.single {
		.selectize-input {
			&:after {
				background-image: url('../img/select-normal-conner-down.svg');
				background-repeat: no-repeat;
				background-size: cover;
				border: 0;
				width: 12px;
				height: 7px;
				transition: transform .2s;
			}

			&.dropdown-active {
				border-color: #adbdd0;
				box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.25);
				&:after {
					transform: rotate(-180deg);
				}
			}
		}
	}
}

.menu-link {
	color: @link-color;
	font-size: 12px;
	&:hover {
		color: @link-color-hover;
		text-decoration: underline;
	}
}

.main-wrapper {
	// height: 100%;
	> .content {
		min-height: ~"calc(100vh - 160px)";
		padding: 40px 0;
	}
}

.header {
	border-bottom: solid 2px #adbdd0;
	height: 80px;

	.header-title {
		font-size: 26px;
	}
}

.footer {
	border-top: solid 2px #adbdd0;
	height: 80px;

	.rights {
		color: @charcoal-grey;
		font-size: 14px;
	}
}

.help-info {
	text-align: center;
	span {

	}
}

.action-icon {
	cursor: pointer;
}

.mvs-app {
	text-align: center;
	width: 100%;
	.app-header {
		text-align: center;
	}

	.app-main {
		padding: 40px 0;
	}

	.menu-link {
		font-size: 14px;
	}

	.table {
		text-align: left;
		&.table-lg {
			td,
			th {
				padding: 20px .75rem;
			}
		}

		tr {
			&:first-child {
				th {
					border-top: 0;
				}
				td {
					border-top: 0;
				}
			}
		}

		tr {
			&.border-top-0 {
				td,
				th {
					border-top: 0;
				}
			}
		}

		th {
			color: #8a90a1;
			font-size: 12px;
			font-weight: normal;
			text-transform: uppercase;
			&:first-child {
				padding-left: 0;
			}
		}

		td {
			font-size: 14px;
			&:first-child {
				color: @slate-grey;
				padding-left: 0;
			}
			&:last-child {
				color: @charcoal-grey;
			}
		}

		/* &.middle-cell {
			td {
				vertical-align: middle;
			}
		} */

		.btn {
			&.button-md {
				padding: 9px 12px;
				width: 140px;
			}
		}

		&.cert-list {
			tr {
				th, td {
					// border-top: 0;
				}
			}
			th {
				border-color: transparent;
				text-transform: none;
			}

			td {
				border: 0;
				border-top-color: transparent;
				padding: 12px;
				&:not(:nth-child(3)) {
					color: @slate-grey;
				}
			}

			.cert-item {
				&:hover {
					box-shadow: 0 0 8px 0 rgba(207, 207, 207, 0.5);
				}
			}

			.selected {
				box-shadow: 0 10px 10px 0 rgba(207, 207, 207, 0.5);
				transition: all .3s;
				td {
					border-bottom: solid 1px #c1cbd6;
					border-top: solid 1px #4a90e2;
					&:first-child {
						border-left: solid 1px #4a90e2;
						border-bottom-left-radius: 3px;
						border-top-left-radius: 3px;
					}
					&:last-child {
						border-right: solid 1px #4a90e2;
						border-bottom-right-radius: 3px;
						border-top-right-radius: 3px;
					}
				}
			}
		}
	}
}

.middle-cell {
	td {
		vertical-align: middle;
	}
}

.app-title {
	color: @charcoal-grey;
	font-size: 32px;
	line-height: normal;
	margin-top: 30px;
}

.app-title-descr {
	color: @charcoal-grey;
	font-size: 18px;
	line-height: normal;
	margin: 20px 0 0;
}

.app-content {
	color: @charcoal-grey;
	font-size: 14px;
	line-height: normal;
}

.link-block-wrapper {
	.link-title {
		color: #4a90e2;
		margin: 6px 0;
	}
}

.storage-list {
	.storage-item {
		border: solid 1px #eaeff4;
		border-radius: 3px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		height: 325px;
		padding: 20% 7% 10%;
		&.selected {
			background: #ffffff;
			border: solid 1px #4a90e2;
			box-shadow: 0 10px 10px 0 rgba(207, 207, 207, 0.5);
			transition: all .3s;
		}
		&:hover {
			box-shadow: 0 0 8px 0 rgba(207, 207, 207, 0.5);
		}
	}

	.storage-image {}

	.storage-title {
		margin: 34px 0 0;
		text-align: center;
		.main-title {
			color: @charcoal-grey;
			font-size: 14px;
		}

		.extra-title {
			color: #555861;
			font-size: 13px;
		}
	}

	.storage-extra {
		align-items: center;
		display: flex;
		flex-grow: 1;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.getting-cert-stages {
	.cert-stage {
		position: relative;
		&:before {
			background-repeat: no-repeat;
			content: '';
			width: 15px;
			height: 15px;
			position: absolute;
			left: -30px;
			transform: translateY(50%);
		}
		&.stage-complete {
			&:before {
				background-image: url('../img/icon-check.svg');
			}
		}

		&.stage-execute {
			&:before {
				animation: rotate 1s linear infinite;
				border: double 2px transparent;
				border-radius: 50%;
				background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ffffff,#ffb000);
				background-origin: border-box;
				background-clip: content-box, border-box;
				width: 15px;
				height: 15px;
				top: 5px;
			}
		}
	}
}
